* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

/* ********* Begin Univerisal codes ****** */
#container{
	max-width:1000px;
	margin: auto;
}

header{
	background-color: #006CE2;
}

.desktop-header{
	display:flex;
    justify-content: space-between;
    align-items: center;
}

header img{
	width:60%;
	max-width: 350px;
	padding: 1.5%;
}

.desktop-menu {
	display: none;
}


/* ******* HAMBURGER MENU STYLES ******* */
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  margin:0% 5% 0% 0%;
  color:#ffffff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  margin:0% 5% 0% 0%;
  color:#006CE2;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}
/* ******* END HAMBURGER MENU STYLES ******* */


/*  arrow and welcome h1 */
#welcome-msg {
  margin-top: 50vh;
  color: #ffffff;
  text-align: center;
}

#down-arrow {
  color: #ffffff;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1.5rem;
}

/* ************ Subpages formatting ************ */
/*  Subpage Welcome message */
#welcome-msg-subpage {
  margin-top: 30vh;
  color: #ffffff;
  text-align: center;
}

#down-arrow-subpage {
  color: #ffffff;
  font-size: 2.5rem;
  text-align: center;
  margin: 1.5rem 0 5em 0;
}

#songs-body, #characters {
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-image: url('../images/under-water.jpg');
  background-color: #006CE2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}


.in-between {
  background-color: #5AC7E0;
  height: 15vh;
}

footer {
  color: black;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5%;
  background-color: white;
  padding-top: 5%;
}

/* ************ END Subpages formatting ************ */

/* *********** START HOME PAGE ************** */
body {
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-image: url('../images/wave.jpg');
  background-color: #006CE2;
  background-size: cover;
}


/* *********** END HOME PAGE ************** */



/* *********** START CHARACTER PAGE ************** */


.character-headings {
  font-family: 'Roboto', sans-serif;
  color: #006ce2;
  width: 70%;
  padding-top: 5%;
  padding-left: 5%;
}

#spongebob img, #krabs img, #squidward img, #patrick img {
  width: 80%;
  display: block;
  margin: auto;
}

#spongebob p, #krabs p, #squidward p, #patrick p {
  font-size: 1.5em;
  padding-top: 5%;
  width: 90%;
  margin: auto;
}

#spongebob, #krabs {
  background-color: white;
  color: black;
  padding-top: 5%;
  padding-bottom: 10%;
}


#patrick, #squidward {
  background-color:#5AC7E0;
  padding-top: 5%;
  padding-bottom: 10%;
  color: white;
}
.pg {
  background-color: white;
  width: 100%;
  color: #006CE2;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  text-decoration: underline;
  font-size: 2em;
  font-weight: bold;
}



/* *********** END CHARACTER PAGE ************** */


/********* START SONGS Page ***********/



/****** Flex Grid Song Page *******/

.flex-grid {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.flex-grid .col {
  padding: 2%;
}

.col iframe {
  width: 380px;
}


/******************************** MEDIA QUERIES *********************/

/**************************** START MEDIA QUERY 600 *********************/

@media (min-width: 600px){
	.menu, .hamburger, .cross{
   		display: none;
 	}

 	.desktop-menu{
   		display: block;
	}

	nav{
		font-family: 'Roboto', sans-serif;
	}

	.nav-wrap{
		width:47%;
	    text-align:center;
	}

	.desktop-menu ul{
	    list-style-type: none;
	}


	.desktop-menu ul li{
		display: inline;
		padding: 3% 12% 3% 12%;
		background-color: #ffffff;
		transition-timing-function: ease;
	}

	.desktop-menu ul li a{
	    color: #006CE2;
	    text-decoration: none;
	    text-decoration: none;
	    position: relative;
	    z-index: 0;
	    cursor: pointer;
	    padding: 5px 0px 5px 0px;
	}

	.topBotomBordersOut a:before,
	.topBotomBordersOut a:after
	{
	    position: absolute;
	    left: 0px;
	    width: 100%;
	    height: 2px;
	    background: #006CE2;
	    content: "";
	    opacity: 0;
	    transition: all 0.3s;
	}

	.topBotomBordersOut a:before
	{
	    top: 0px;
	    transform: translateY(10px);
	}

	.topBotomBordersOut a:after
	{
	    bottom: 0px;
	    transform: translateY(-10px);
	}

	.topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after
	{
	    opacity: 1;
	    transform: translateY(0px);
	}


}


/**************************** END MEDIA QUERY 600 *********************/



/**************************** START MEDIA QUERY 640 *********************/
@media (min-width: 640px){
	.nav-wrap{
	    width:43%;
	}
}
/**************************** END MEDIA QUERY 640 *********************/


/**************************** START MEDIA QUERY 700 *********************/

@media (min-width:700px) {
  #logo {
    max-height: 66px;
  }

  #welcome-msg {
    font-size: 2rem;
    margin-top: 70vh;
  }
  #down-arrow {
    font-size: 2rem;
  }
  #down-arrow-subpage {
    margin-bottom: 1em;
  }
  #spongebob img, #krabs img, #squidward img, #patrick img {
    width: 30%;
    height: 20%;
    margin: 0;
  }

  /*main p{
    margin: 0;
    /*padding-left: 5%;
  } */

  #spongebob, #patrick, #krabs, #squidward {
    display: flex;
    flex-direction: row;
  }
/*
 .spongebob-container, .patrick-container, .krabs-container, .squidward {
    display: flex;
    flex-direction: column;
  } */


  .flex-grid {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/**************************** END MEDIA QUERY 700 *********************/

/**************************** START MEDIA QUERY 740 *********************/

@media (min-width: 740px){

	.nav-wrap{
	    width:35%;
	}

}
/**************************** END MEDIA QUERY 740 *********************/

/**************************** START MEDIA QUERY 840 *********************/
@media (min-width: 840px){

	.nav-wrap{
	    width:30%;
	}
}
/**************************** END MEDIA QUERY 840 *********************/


/**************************** START MEDIA QUERY 940 *********************/
@media (min-width: 940px){

	.nav-wrap{
	    width:28%;
	}
}
/**************************** END MEDIA QUERY 940 *********************/
